.grid {
  display: grid;
  place-items: center;
}

.navbar {
  position: fixed;
  bottom: 2%;
  width: fit-content;
  padding-inline: 0.5rem;
  max-width: 450px;
  z-index: 10;
}

.mobile-navbar-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(224, 224, 224, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 50px;
  color: #141414;
  list-style: none;

  li {
    border-radius: 50px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.18s ease-in-out;
  }

  li:where(:focus, :active) {
    background-color: rgba(203, 203, 203, 0.75);
  }
}

.desktop-navbar {
  display: none !important;
  background-color: #141414;
  width: 100%;
  color: white;
  height: 75px;

  .desktop-navbar-wrapper {
    --_gap: 2rem;

    list-style: none;
    display: flex;

    li {
      overflow: hidden;
      position: relative;
      float: left;
      padding-inline: calc(var(--_gap) / 2);
      padding-bottom: 6px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background-color: #e0e0e0;

        translate: var(--_translate, 0);
        scale: var(--_width, 0) 1;
        transition: scale 300ms var(--_scale-delay, 0ms),
          translate 500ms var(--_translate-dalay, 0ms);
      }

      &:hover,
      &:focus-within {
        --_width: 1;
      }

      &:hover + li {
        --_translate: -100%;
        --_scale-delay: 300ms;
        --_translate-delay: 500ms;
      }

      &:has(+ :hover) {
        --_translate: 100%;
        --_scale-delay: 300ms;
        --_translate-delay: 500ms;
      }
    }
  }

  img {
    height: 40px;
    cursor: pointer;
  }
}

.navbar-link {
  text-decoration: none;
  color: #141414;
  transition: all 0.18s ease-in-out;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .navbar {
    top: 0;
    max-width: unset;
    padding: unset;
    height: 75px;
    width: 100%;
  }

  .desktop-navbar {
    flex: 1;
    display: flex !important;
  }

  .mobile-navbar-wrapper {
    display: none;
  }

  .navbar-link {
    color: inherit;
  }

  .navbar-logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;

    a {
      font-family: 'Hutin Regular';
      font-size: 2rem;
      text-decoration: none;
      color: #e0e0e0;
      transition: scale 125ms ease-in-out;

      &:hover {
        scale: 1.2;
      }
    }
  }

  .navbar-btn-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .navbar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000;
    color: #e0e0e0;
    border: 2px solid #e0e0e0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: scale 125ms ease-in-out;

    &:hover {
      scale: 1.1;
    }
  }
}
