.swipper-wrapper {
  height: 290px;
  width: 100%;
}

.card {
  border-radius: 1rem;
  background: #f1f1f1;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  position: relative;
  min-height: 180px;

  .card-image {
    max-width: 96px;
    max-height: 96px;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    right: 1rem;
    top: -1rem;
    border: 3px solid #141414;

    img {
      object-fit: cover;
      height: 96px;
      width: 96px;
    }
  }

  .card-title {
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 2.5rem;
  }
}

.swiper-pagination-bullet-active {
  background-color: #141414 !important;
}

br {
  display: none;
}

@media (min-width: 430px) {
  br {
    display: block;
  }
}
