.main-section {
  height: 100vh;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
}

.main-text {
  flex: 1 1 0%;
  text-align: center;
}

.main-title,
.main-sub-title {
  font-family: 'Space Grotesk', sans-serif;
}

.main-title {
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -0.024em;
  font-weight: 600;
}

.main-sub-title {
  color: #8d8d8d;
  padding-block: 1rem;
  font-size: 1.2rem;
}

.btn-section {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.main-image {
  img {
    height: 100%;
    max-height: 340px;
    margin: auto;
  }
}

@media (min-width: 675px) {
  .main-text {
    text-align: start;
  }

  .main-title {
    font-size: 56px;
    line-height: 64px;
  }

  .main-sub-title {
    color: #8d8d8d;
    padding-block: 1rem;
  }

  .btn-section {
    flex-direction: row;
    justify-content: flex-start;
  }

  .main-section {
    padding-inline: unset;
    flex-direction: row;
    gap: 1rem;
  }

  .main-image {
    flex: 1 1 0%;

    img {
      max-height: 550px;
    }
  }

  .main-sub-title {
    color: #8d8d8d;
    padding-block: 1rem;
  }
}

@media (min-width: 1280px) {
  .main-title {
    font-size: 80px;
    line-height: 84px;
  }
}
