footer {
  padding-bottom: 80px;
  color: #141414;
}

footer {
  img {
    width: 100%;
  }

  hr {
    color: #141414;
    border-radius: 100%;
    margin-inline: auto;
    margin-block: 0.5rem;
    max-width: 460px;
  }

  .bottom {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media (min-width: 640px) {
  footer {
    padding-bottom: 1rem;

    hr {
      display: none;
    }

    .bottom {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
