.btn {
  padding: 0.5rem 1.3rem;
  border-radius: 100px;
  transition: background-color 0.18s ease-in-out, scale 0.18s ease-in-out;
  cursor: pointer;
  text-transform: capitalize;

  .btn-text-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .text-icon-border-secondary {
    color: #e0e0e0;

    .btn-text-icon-border {
      color: #141414;
    }
  }

  .btn-text-icon-border {
    display: grid;
    background-color: #e0e0e0;
    padding: 4px;
    border-radius: 100%;
    transition: filter 0.18s ease-in-out;
  }

  &.btn:hover {
    scale: 1.025;

    .btn-text-icon-border {
      filter: brightness(1.1);
    }
  }

  &.btn-responsive {
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
  }

  &.btn-big {
    padding: 1rem 4rem;
    font-size: 1.2rem;
  }

  &.btn-primary {
    background-color: white;
    border: 1px solid white;
    color: #141414;
  }

  &.btn-primary:hover {
    background-color: #e0e0e0;
  }

  &.btn-secondary {
    background-color: #141414;
    border: 2px solid #141414;
    color: white;
  }

  &.btn-secondary:hover {
    background-color: #303030;
  }

  &.btn-secondary-ghost {
    background-color: #0000;
    border: 2px solid #e0e0e0;
    color: #141414;
  }

  &.btn-secondary-ghost:hover {
    background-color: #e0e0e0;
  }

  &.btn-primary-ghost {
    background-color: #0000;
    border: 1px solid white;
    color: white;
  }

  &.btn-primary-ghost:hover {
    color: #141414;
    background-color: #e0e0e0;
  }

  &.btn-inherit-hover:hover {
    background-color: inherit;
  }
}

.text-center {
  text-align: center;
}

@media (min-width: 430px) {
  .btn-responsive {
    padding: 1rem 4rem;
    font-size: 1.2rem;
  }
}
