.experience-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 0 100vmax #141414;
  clip-path: inset(0 -100vmax);
  background-color: #141414;
  color: #e0e0e0;
  padding-block: 4rem;
  text-align: center;
  gap: 1rem;
}

p {
  opacity: 0.8;
}

@media (min-width: 640px) {
  .experience-section {
    text-align: start;
    flex-direction: row;
  }
}
